<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%- include('partials/_header') %>
</head>
<body>
  <p> Welcome to TinyApp! </p>
  <p><a href="http://localhost:8080/urls/">URL Index</a></p>
  <p><a href="http://localhost:8080/urls/new">Shorten your url here</a> </p>
</body>
</html>