<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%- include('partials/_header') %>
</head>
<body>
  <table>
    <tr><th> URLS </th></tr>

    <%for (var url in urls) {%>
    <tr><td><%= url%> : </td><td><%= urls[url] %></td></tr>
    <%}                 %>
  </table>

  <p><a href="http://localhost:8080/urls/new">Shorten your url here</a> </p>

</body>
</html>